@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

body {
    background-color: #1B171C;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 0;
    color: #FFDDB4;
    font-size: 10px;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: #A181BA;
    font-family: "Space Mono", sans-serif;
    letter-spacing: 0.1px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

code {
    background-color: #480C76;
    color: #FFDDB4;
    font-family: 'Space Mono', monospace;
    padding: 2px 4px;
    border-radius: 5px;
}

section {
    margin: 30px 0px;
    padding: 20px;
    border: 1px solid #7C7780;
    border-radius: 5px;
}

article {
    
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    top: -25px;

}

.subsection {
    background-color: rgba(124, 119, 128, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 0px 5px;
    display: inline-block;
    max-width: 40%;
}

ul {
    background-color: #1B171C;
    padding: 10px;
    width: auto;
    border: 1px dotted #7C7780;
    border-radius: 5px;
    display: inline-block;

}

/* Sizes of the titles */
h1 {
    font-size: 28px;
    font-family: "Gravitas One", serif;
    letter-spacing: 0.1px;
}

h2 {
    font-size: 20px;
    font-family: "Gravitas One", serif;
    letter-spacing: 0.1px;
    background-color: #FFDDB4;
    width: auto;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -50px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}